.logo {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 10px 5px #819cc5;
    margin-left: 200px;
    margin-top: 10px;
}

.upper-header-div, .lower-header-div {
    display: flex;
    justify-content: space-between;
}

.lower-header-div {
    justify-content: space-between;
    height: 400px;
}

.header-div {
    display: flex;
    flex-direction: column;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -10px;
}

p, a {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

a {
    text-decoration: none;
}

.left-lower-header-div {
    margin-left: 200px;
}

.right-lower-header-div {
    margin-right: 200px;
}

.placeholder-img {
    width: 500px;
    height: 300px;
    border: 1px solid #060a0f;
}

.signup-button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 24px;
}


